@charset "UTF-8";

/* 要素の余白をなくす*/
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* リストの行頭アイコンを非表示にする */
ul,
ol {
    list-style: none;
}

header,footer {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding-left: 100px;
}

.header-logo img {
    height: 50px;
}

.header-site-menu {
    margin-right: 50px;
}

a{
    color: inherit;
    text-decoration: none;
}

.header-site-menu ul {
    display: flex;
    padding: 0px 10px;
}

.header-site-menu ul,li {
    margin-left: 20px;
    margin-right: 20px;
}

/*==================================================
共通　横並びのための設定
===================================*/

.gnavi{
    display: flex;
    flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
    list-style: none;
}

.gnavi li a{
    display: block;
    padding:10px 25px;
    text-decoration: none;
    color: #333;
}

/*==================================================
　5-3-5 左から右に背景が伸びる
===================================*/

/*背景の設定*/

.gnavi li a{
    /*背景色の基点とするためrelativeを指定*/
  position: relative;
}

.gnavi li a::after {
  content: '';
    /*絶対配置で線の位置を決める*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
    /*背景の形状*/
  width: 0;
  height:100%;
  background:#666;
    /*アニメーションの指定*/
  transition:all 0.8s;
  opacity: 0;/*はじめは透過0*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    /*背景の形状*/
  width: 100%;/*横幅を伸ばす*/
  opacity: 1;/*不透明に*/
}

.gnavi li.current a,
.gnavi li a:hover{
    color: #fff;
}



.container {
    display: flex;
}

.first-images {
    width: 100%;
}

.image {
    width: 100%;
    max-height: 500px; /* 必要に応じて最大高さを設定 */
}

.first-view {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%); /* 要素を上に移動して中央に配置 */
    color: ghostwhite;
    text-align: center;
}

.concept-first-view {
    position: absolute;
    top: 50%; /* 要素の上端を親要素の中央に配置 */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* 要素を上に移動して中央に配置 */
    color: ghostwhite;
    text-align: center;
}

.concept-first-view h1 {
    margin: 0; /* h1要素のデフォルトのマージンを削除 */
}

.container-conpect {
    padding-top: 50px;
    text-align: center;
}

.container-cat-concept {
    padding: 30px 0;
    text-align: center;
}

.concept-button button {
    background-color: darkgray; /* ボタンの背景色 */
    color: white; /* ボタンの文字色 */
    border: none; /* ボーダーを削除 */
    padding: 10px 20px; /* パディング */
    text-align: center; /* テキストを中央揃え */
    text-decoration: none; /* テキスト装飾を削除 */
    display: inline-block; /* インラインブロック要素に変更 */
    font-size: 16px; /* フォントサイズ */
    margin-top: 20px; /* 上部のマージン */
    cursor: pointer; /* カーソルをポインターに変更 */
    border-radius: 30px; /* ボーダーの角を丸くする */
}

.concept-button button:hover {
    background-color: gray; /* ホバー時の背景色 */
}

.recommendation-menu {
    padding-top: 50px;
}

.recommendation-text h3 {
    text-align: center;
    padding-bottom: 30px;
}

.item-list {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    display: flex;
}

.item-list  img{
    width: 100%;
    height: 200px;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅70%で左右に余白を持たせて中央寄せ*/
    width:70%;
     margin:0 auto;
 }
 
 .slider img {
     width:100%;/*スライダー内の画像を横幅100%に*/
     height:auto;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
     margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
     margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }

 .description-title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
 }

 .description-cats {
    display: flex;
    justify-content: center;
 }

 .cats-images img {
    width: auto;
    height: 300px;
 }
